/* App.css */

.scene-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.button-container button {
  margin-right: 10px;
}

.button-container button {
  margin-right: 10px;
  background-color: #4CAF50; /* Color de fondo verde */
  border: none;
  color: white; /* Texto blanco */
  padding: 15px 32px; /* Espaciado alrededor del texto */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s; /* Duración de la transición al pasar el cursor sobre el botón */
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049; /* Cambiar el color de fondo al pasar el cursor sobre el botón */
}
